<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<!-- this file was extracted from applicationContext.xml to speedup unittests
     
     however this file is needed for full functionality of the application
-->
     
<beans>

<!-- TODO: hat das jetzt dann kein Transaktionmngmnt?! -->
<!-- Task Timer for parserCronJobService -->
	<bean id="scheduledParserCronJob"
		class="org.springframework.scheduling.timer.ScheduledTimerTask">
		<property name="timerTask">
			<ref bean="parserCronJobServiceTarget"/>
		</property>
		<property name="period">
			<!-- time in ms -->
			<value>3000000</value>
		</property>
	</bean>


<!-- Master of all Timer Tasks; takes an array of Tasks to handle
 Add your Timertask here!
 Roland Vecera
-->
	<bean class="org.springframework.scheduling.timer.TimerFactoryBean">
		<property name="scheduledTimerTasks">
			<list>
				<ref bean="scheduledParserCronJob"/>
			</list>
		</property>
	</bean>

<!--  Alternative QUARZ-Timers; 
Sollte mächtiger und einfacher in der Definition sein

-->
<!-- Quartz Scheduler, with pre-registered triggers --> 
   <!-- Will automatically start scheduling on context startup --> 
   <bean id="scheduler" class="org.springframework.scheduling.quartz.SchedulerFactoryBean"> 
      <property name="triggers"> 
         <list> 
            <ref local="logTrigger"/>
            <ref local="logTrigger_lucene"/>   
         </list> 
      </property> 
   </bean>

<bean id="logTrigger" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
	<property name="jobDetail"> 
			<ref local="courseServiceInvokingJobDetail"/> 
	</property> 
	
	<property name="cronExpression">
	      <value>0 40 10 ? * MON</value>
	</property> 
</bean>

<bean id="logTrigger_lucene" class="org.springframework.scheduling.quartz.CronTriggerBean"> 
	<property name="jobDetail"> 
			<ref local="timerLuceneIndizierung"/> 
	</property> 
	
	<property name="cronExpression">
	      <value>30 20 4 ? * MON-FRI</value>
	</property> 
</bean>



<bean id="courseServiceInvokingJobDetail" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	<property name="targetObject">
		<ref bean="LogStatisticsCronJobService"/>
	</property>
	<property name="targetMethod">
		<value>runStatistics</value>
	</property>
</bean>

<bean id="timerLuceneIndizierung" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
	<property name="targetObject">
		<ref bean="IndexFeedsCronJobService"/>
	</property>
	<property name="targetMethod">
		<value>indexFeeds</value>
	</property>
</bean>

<bean id="LogStatisticsCronJobService" class="at.newsagg.service.impl.LogStatisticsCronJobServiceImpl">
	<property name="channelDAO"><ref bean="channelDAO"/></property>
	<property name="feedSubscriberDAO"><ref bean="feedSubscriberDAO"/></property>
	<property name="logDAO"><ref bean="logDAO"/></property>
</bean>

<bean id="IndexFeedsCronJobService" class="at.newsagg.service.impl.IndexFeedsImpl"/>

	
</beans>