<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">
<beans>
	<!-- ====================================================================================	-->
	<!-- Database Connection Configs															-->
	<!-- ====================================================================================	-->
    
    <!-- DriverManagerDataSource is not a pooled connection -->
    <!-- @see http://www.springframework.org/docs/api/org/springframework/jdbc/datasource/DriverManagerDataSource.html -->
    <!-- <bean id="postgresSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource"> -->
    <bean id="postgresSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"><value>org.postgresql.Driver</value></property>
        <property name="url"><value>jdbc:postgresql://localhost/generic</value></property>
        <property name="username"><value>postgres</value></property>
        <property name="password"><value>letmein</value></property>
    </bean>
   
     <!--<bean id="msSqlSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
     <bean id="msSqlSource" class="org.apache.commons.dbcp.BasicDataSource">
        <property name="driverClassName"><value>org.postgresql.Driver</value></property>
        <property name="url"><value>jdbc:postgresql://localhost/intimedb</value></property>
        <property name="username"><value>postgres</value></property>
        <property name="password"><value>letmein</value></property>
    </bean> 
    
	<!-- ====================================================================================	-->
	<!-- Hibernate Configs																	 	-->
	<!-- @look http://forum.springframework.org/showthread.php?t=20803&highlight=commit+transaction   -->
	<!-- ====================================================================================	-->
    
    <bean id="sessionFactoryForPostgresSource" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">   
		<property name="dataSource"><ref bean="postgresSource"/></property>
        <property name="mappingResources">
            <list>
            	<value>Event.hbm.xml</value>
				<value>Rwtime.hbm.xml</value>
				<value>Txtime.hbm.xml</value>
				<value>Eventattribute.hbm.xml</value>
				<value>Eventtype.hbm.xml</value>
				<value>Dbinfo.hbm.xml</value>				
				<value>Filter.hbm.xml</value>	
				<value>Profile.hbm.xml</value>	
            </list>
        </property>
        <property name="hibernateProperties">
        <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop> 
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
        </props>
        </property>
    </bean> 
    
    
   <bean id="sessionFactoryForSQLServer" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">   
		<property name="dataSource">
			<ref bean="msSqlSource"/>
		</property>
        <property name="mappingResources">
            <list>
                 <value>Correlatedevent.hbm.xml</value>
                 <value>Correlationset.hbm.xml</value>
            </list>
        </property>
        <property name="hibernateProperties">
        <props>
            <prop key="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</prop>
            <prop key="hibernate.hbm2ddl.auto">update</prop> 
			<prop key="hibernate.show_sql">true</prop>
			<prop key="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</prop>
        </props>
        </property>
    </bean>      
    
	<!-- ====================================================================================	-->
	<!-- Transaction Manager																 	-->
	<!-- Transaction manager for a single Hibernate SessionFactory (alternative to JTA)			-->
	<!-- ====================================================================================	-->
    
    <bean id="transactionManagerForPostgresSource" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
        	<ref bean="sessionFactoryForPostgresSource"/>
        </property>
    </bean>
    
    <bean id="transactionManagerForSQLServerSource" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory">
        	<ref bean="sessionFactoryForSQLServer"/>
        </property>
    </bean>
    
    <!-- ====================================================================================	-->
	<!-- Facades																				-->
	<!-- ====================================================================================	-->

	<bean id="eventHandlingFacade" class="at.generic.service.impl.EventHandlingImpl"> 
    	<property name="genericServiceTarget">
    		<ref bean="genericDAOTargetTarget"/>
    	</property> 
    </bean>
    
    <bean id="eventPersistenceService" class="at.generic.service.impl.EventPersistenceServiceImpl"> 
    	<property name="eventDAO">
    		<ref bean="eventDAOTarget"/>
    	</property> 
    	<property name="eventattributeDAO">
    		<ref bean="eventattributeDAOTarget"/>
    	</property> 
    	<property name="eventtypeDAO">
    		<ref bean="eventtypeDAOTarget"/>
    	</property> 
    	<property name="rwtimeDAO">
    		<ref bean="rwtimeDAOTarget"/>
    	</property> 
    	<property name="txtimeDAO">
    		<ref bean="txtimeDAOTarget"/>
    	</property> 
    	<property name="correlatedEventDAO">
    		<ref bean="correlatedEventDAOTarget"/>
    	</property> 
    </bean>
    
    <bean id="correlatingEventsPersistenceService" class="at.generic.service.impl.CorrelatingEventsPersistenceServiceImpl"> 
    	<property name="correlatedEventDAO">
    		<ref bean="correlatedEventDAOTarget"/>
    	</property> 
    	<property name="correlatedSetDAO">
    		<ref bean="correlatedSetDAOTarget"/>
    	</property> 
    </bean>
    
    <bean id="adminPersistenceService" class="at.generic.service.impl.AdminPersistenceServiceImpl"> 
    	<property name="dbInfoDAO">
    		<ref bean="dbInfoDAOTarget"/>
    	</property> 
    	<property name="profileDAO">
    		<ref bean="profileDAOTarget"/>
    	</property> 
    	<property name="filterDAO">
    		<ref bean="filterDAOTarget"/>
    	</property> 
    </bean>
    
	<bean id="indexingServiceEvents" class="at.generic.search.impl.LuceneIndexingImpl" init-method="init"> 
    	<property name="indexLocation">
    		<value>e:/luceneindex/events</value>
    	</property> 
    	<property name="indexLocationType">
    		<value>event</value>
    	</property>
    	<property name="maxNumberOfLookAhead">
    		<value>300</value>
    	</property>
    </bean>    
    
    <bean id="indexingServiceCorrEvents" class="at.generic.search.impl.LuceneIndexingImpl" init-method="init"> 
    	<property name="indexLocation">
    		<value>e:/luceneindex/correvents</value>
    	</property> 
    	<property name="indexLocationType">
    		<value>correvent</value>
    	</property> 
    	<property name="maxNumberOfLookAhead">
    		<value>300</value>
    	</property> 
    </bean>    
    
    <bean id="searchService" class="at.generic.search.impl.SearchServiceImpl"> 
    	<property name="indexingServiceCorrEvents">
    		<ref bean="indexingServiceCorrEvents"/>
    	</property> 
    	<property name="indexingServiceEvents">
    		<ref bean="indexingServiceEvents"/>
    	</property> 
    	 <property name="eventPersistenceService">
    		<ref bean="eventPersistenceService"/>
    	</property> 
    	<property name="corrPersistenceService">
    		<ref bean="correlatingEventsPersistenceService"/>
    	</property>
    	<property name="maxSearchResults">
    		<value>10</value>
    	</property>
    </bean>    

    <!-- ====================================================================================	-->
	<!-- Managers																				-->
	<!-- ====================================================================================	-->
	
	<bean id="eventSourceManager" class="at.generic.service.impl.EventSourceManagerImpl"> 
    	<property name="genericDAOTarget">
    		<ref bean="genericDAOTargetTarget"/>
    	</property> 
  	    <property name="sourceEventEtl">
    		<ref bean="sourceEventEtl"/>
    	</property> 
    	<property name="pageSize">
    		<value>15</value>
    	</property> 
    </bean>
    
    <!-- bean id="sourceEventEtl" class="at.generic.etl.GranSourceEvent"--> 
    <bean id="sourceEventEtl" class="at.generic.etl.impl.GranSourceEvent" init-method="getBasicInfos"> 
    	<property name="eventPersistenceService">
    		<ref bean="eventPersistenceService"/>
    	</property> 
    	<property name="corrEventsPersistenceService">
    		<ref bean="correlatingEventsPersistenceService"/>
    	</property>
    	<property name="adminPersistenceService">
    		<ref bean="adminPersistenceService"/>
    	</property>
    	<property name="indexingServiceEvents">
    		<ref bean="indexingServiceEvents"/>
    	</property>
    	<property name="indexingServiceCorrEvents">
    		<ref bean="indexingServiceCorrEvents"/>
    	</property>
    	<property name="batchSizeForPaging">
    		<value>100</value>
    	</property>
    	
    	<property name="identifiedEvents">
    		<map>
    			<entry key="OrderReceived">
    				<value>e:/jDev/generic/eventDefinitions/OrderReceivedEventType.xml</value>    			
    			</entry>
				<entry key="OrderConfirmed">
    				<value>e:/jDev/generic/eventDefinitions/OrderComfirmedEventType.xml</value>    			
    			</entry>
    			
    			<entry key="DataLoggerConfigured">
    				<value>e:/jDev/generic/eventDefinitions/DataLoggerConfiguredEventType.xml</value>    			
    			</entry>
    			<entry key="DataLoggerRead">
    				<value>e:/jDev/generic/eventDefinitions/DataLoggerReadEventType.xml</value>    			
    			</entry>
    			<entry key="ErrorEvent">
    				<value>e:/jDev/generic/eventDefinitions/ErrorEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentAudit">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentAuditEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentCreated">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentCreatedEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentDelivered">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentDeliveredEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentExpedited">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentExpeditedEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentStarted">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentStartedEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentTenderAccepted">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentTenderAcceptedEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentTenderIssued">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentTenderIssuedEventType.xml</value>    			
    			</entry>
    			<entry key="ShipmentTenderRejected">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentTenderRejectedEventType.xml</value>    			
    			</entry>
    			<entry key="TransportEnd">
    				<value>e:/jDev/generic/eventDefinitions/TransportEndEventType.xml</value>    			
    			</entry>
    			<entry key="TransportStart">
    				<value>e:/jDev/generic/eventDefinitions/TransportStartEventType.xml</value>    			
    			</entry> 
    		</map>
    	</property> 
    	<property name="identifiedEventObjects">
    		<map>
    			<entry key="Product">
    				<value>e:/jDev/generic/eventDefinitions/ProductEventObjectType.xml</value>    			
    			</entry>
    			<entry key="LogEntry">
    				<value>e:/jDev/generic/eventDefinitions/LogEntryEventObjectType.xml</value>    			
    			</entry>
    			<entry key="Product">
    				<value>e:/jDev/generic/eventDefinitions/ProductEventObjectType.xml</value>    			
    			</entry>
    			<entry key="ShipmentInfo">
    				<value>e:/jDev/generic/eventDefinitions/ShipmentInfoEventObjectType.xml</value>    			
    			</entry>
    			<entry key="TransportInfo">
    				<value>e:/jDev/generic/eventDefinitions/TransportInfoEventObjectType.xml</value>    			
    			</entry>
    		</map>
    	</property> 
    </bean>
    
    <bean id="eventSearch" class="at.generic.search.impl.SearchForAttribsImpl"> 
    	<property name="genericServiceTarget">
    		<ref bean="genericDAOTargetTarget"/>
    	</property> 
  	    <property name="eventHandling">
    		<ref bean="eventHandlingFacade"/>
    	</property> 
    	<property name="fetchLimit">
    		<value>300</value>
    	</property> 
    </bean>

</beans>
