<style>
FONT
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px
}
BODY
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px
}
TD
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px
}
TABLE
{
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px;
}
B
{
    FONT-FAMILY: Verdana;
    FONT-WEIGHT: bold
}
A:link
{
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
    text-weight: bold;
}
A:visited
{
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
    text-weight: bold;
}
A:active
{
    COLOR: #000000;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px;
    TEXT-DECORATION: none;
    text-weight: bold;
}
A:hover
{
    COLOR: #808080;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 12px;
    TEXT-DECORATION: underline;
    text-weight: bold;
}
</style>